*
  box-sizing: border-box
body
 +light
.container 
  width: 1170px
  margin: auto
.arrows
  &__left, &__right
    &:hover
      cursor: pointer
.button
  background-color: $main-color
  border: none
  outline: none
  +bold
  &:hover 
    cursor: pointer
    background-color: darken($main-color, 2%)

@media (max-width: 1200px)
  .container
    width: 960px
@media (max-width: 970px)
  .container 
    max-width: 750px
    width: 90%
@media (max-width: 768px)
  .section
    padding-top: 60px
    padding-bottom: 60px
@media (max-width: 320px)
  .container 
    width: 100%
.button
  background-color: $main-color
  border: none
  outline: none
  +bold
  &:hover 
    cursor: pointer
    background-color: darken($main-color, 2%)
.section
  padding: 90px 0
  &-title 
    font-size: 24px
    +bold
    color: $text-color
    text-align: center
  &-subtitle
    font-size: 16px
    color: $text-color 
    display: block
.input
  border-radius: 10px
  border: 1px solid $border-input
  padding: 20px 26px
  color: $input-text
  +light
  font-size: 15px
  line-height: 24px
    
   