.navbar
  padding: 8px 0
  &-block
    display: flex
    justify-content: space-between
    align-items: center
  &__info
    display: flex
    align-items: center
    text-align: right
  &__address
    display: flex
    flex-direction: column
    font-size: 13px
    font-weight: 400
    color: $text-color
  &__button
    margin-left: 30px
  &__phone
    display: inline-block
    color: $text-color
    font-size: 20px
    font-weight: 400
    text-decoration: none
    margin-top: 10px
@media (max-width: 962px)
  .navbar
    &__button
      margin-right: 30px
    &__logo
      margin-left: 30px
@media (max-width: 768px)
  .navbar
    &__contacts
      display: none
    &__button
      font-size: 13px
      padding: 15px 26px
    &__logo
      width: 90px
@media (max-width: 420px)
  .navbar
    &__button
      background-color: $main-color
      border: none
      width: 137px
      height: 39px
      border-radius: 5px
      margin-right: 23px
      margin-top: 19px
      font-size: 10px
      font-weight: 400
      padding-bottom: 25px
    &__logo
      margin-left: 5px
      margin-top: 17px
      width: 91px
      height: 44px

