.offer
  background: url('../img/offer/interior.png') no-repeat
  background-position: center right
  background-size: contain
  position: relative
  &:before
    content: ''
    width: 50%
    height: 100%
    position: absolute
    top: 0
    left: 0
    background: #fff
  &-block
    width: 50%
    padding-right: 90px
    position: relative
  &__title
    max-width: 360px
    line-height: 35px
    margin-bottom: 20px
  &__subtitle
    max-width: 250px
    margin-bottom: 30px
  &__input 
    margin-bottom: 30px
    width: 240px
    &:first-child 
      margin-right: 10px
    &:focus
      border: 1px solid #ffb366
      outline: none
  &__button 
    width: 100%
    border-radius: 10px
    min-height: 70px
    border-radius: 10px
  &-feedback
    display: flex
    justify-content: space-between
    padding-top: 27px
  &__manager  
    width: 47%
  &-phone
    width: 40%
    line-height: 24px
  &__span
    font-size: 15px
    line-height: 24px
    color: $text-color
  &__link
    display: inline-block
    text-decoration: none
    font-size: 15px
    color: $text-color
    +bold

@media (max-width: 1200px)
  .offer
    background-size: cover
    &__input
      width: 100%
      margin-bottom: 10px
    &__button
      font-size: 13px
@media (max-width: 970px)
  .offer
    background: #fff
    &-block
      margin: 0 auto
@media (max-width: 768px)
  .offer
    background: #fff
    &-block
      width: 100%
      padding-right: 0
@media (max-width: 420px)
  .offer
    &__manager
      width: 50%
    &-phone 
      width: 50%


