@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Black';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

.container {
  width: 1170px;
  margin: auto;
}

.arrows__left:hover, .arrows__right:hover {
  cursor: pointer;
}

.button {
  background-color: #ffd200;
  border: none;
  outline: none;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.button:hover {
  cursor: pointer;
  background-color: #f5ca00;
}

@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 970px) {
  .container {
    max-width: 750px;
    width: 90%;
  }
}

@media (max-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (max-width: 320px) {
  .container {
    width: 100%;
  }
}

.button {
  background-color: #ffd200;
  border: none;
  outline: none;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.button:hover {
  cursor: pointer;
  background-color: #f5ca00;
}

.section {
  padding: 90px 0;
}

.section-title {
  font-size: 24px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  color: #333333;
  text-align: center;
}

.section-subtitle {
  font-size: 16px;
  color: #333333;
  display: block;
}

.input {
  border-radius: 10px;
  border: 1px solid #dddddd;
  padding: 20px 26px;
  color: #999999;
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
}

.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 13px;
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  color: #333333;
}

.navbar__button {
  margin-left: 30px;
  width: 170px;
  height: 49px;
  border-radius: 10px;
  font-size: 13px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.navbar__phone {
  display: inline-block;
  color: #333333;
  font-size: 20px;
  text-decoration: none;
  margin-top: 7px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    margin: 0;
  }
  .navbar__logoImg {
    max-width: 100%;
  }
}

@media (max-width: 420px) {
  .navbar__button {
    width: 137px;
    height: 39px;
    border-radius: 5px;
    font-size: 10px;
    font-family: 'Museo Sans Bold', sans-serif;
    font-weight: 700;
  }
}

@media (max-width: 320px) {
  .navbar__button {
    margin-left: 49px;
    margin-right: 23px;
  }
  .navbar__logoImg {
    width: 80%;
    margin-left: 20px;
  }
}

.hero {
  padding: 50px 0;
  background: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.hero-text__title {
  font-size: 41px;
  font-weight: 400;
  line-height: 55px;
  margin-bottom: 37px;
  color: #333333;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero-text__subtitle {
  display: inline-block;
  font-size: 20px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  margin-bottom: 70px;
  color: #333333;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__img {
  -ms-flex-preferred-size: 40px;
      flex-basis: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 30px;
}

.hero-list__text {
  font-size: 14px;
  line-height: 24px;
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  color: #333333;
}

.hero-img__boxshadow {
  -webkit-box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
}

@media (max-width: 1200px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-list__img {
    padding: 8px 5px;
  }
  .hero-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-img {
    text-align: center;
  }
}

@media (max-width: 970px) {
  .hero {
    padding: 10px 0;
  }
  .hero-text__title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .hero-text__subtitle {
    margin-bottom: 35px;
  }
  .hero-img__width {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list-text {
    font-size: 12px;
  }
  .hero-list__img {
    margin-right: 15px;
  }
}

@media (max-width: 575px) {
  .hero-text__title {
    font-size: 20px;
  }
}

@media (max-width: 479px) {
  .hero-text__title {
    font-size: 18px;
  }
}

@media (max-width: 435px) {
  .hero-text__title {
    font-size: 15px;
  }
  .hero-text__subtitle {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .hero {
    padding: 10px 0 50px 0;
  }
  .hero-list {
    margin-left: 20px;
  }
  .hero-list__text {
    font-size: 12px;
    line-height: normal;
  }
  .hero-img__width {
    width: 83%;
  }
  .hero-text {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .hero-text__title {
    font-size: 24px;
    margin-top: 35px;
    margin-left: 22px;
    margin-bottom: 10px;
    line-height: normal;
  }
  .hero-text__subtitle {
    width: 70%;
    margin-left: 24px;
    font-size: 16px;
  }
}

.offer {
  background: url("../img/offer/interior.png") no-repeat;
  background-position: center right;
  background-size: contain;
  position: relative;
}

.offer:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
}

.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}

.offer__title {
  line-height: 35px;
  margin-bottom: 20px;
  text-align: left;
}

.offer__subtitle {
  margin-bottom: 30px;
}

.offer__input {
  margin-bottom: 30px;
  width: 240px;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__input:focus {
  border: 1px solid #ffb366;
  outline: none;
}

.offer__button {
  width: 100%;
  border-radius: 10px;
  min-height: 70px;
  border-radius: 10px;
}

.offer-feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 27px;
}

.offer__manager {
  margin-bottom: 10px;
}

.offer-phone {
  line-height: 24px;
}

.offer__span {
  font-size: 15px;
  line-height: 24px;
  color: #333333;
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

.offer__link {
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  color: #333333;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer-block {
    padding-right: 60px;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__button {
    font-size: 13px;
  }
  .offer-feedback {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 970px) {
  .section {
    padding: 53px 0;
  }
  .offer {
    background: #fff;
  }
  .offer__title {
    font-size: 20px;
    text-align: center;
  }
  .offer-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    width: 80%;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #fff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
}

@media (max-width: 420px) {
  .offer__manager {
    width: 50%;
  }
  .offer-phone {
    width: 50%;
  }
}

@media (max-width: 320px) {
  .section {
    padding: 39px 0;
  }
  .offer-feedback {
    display: inline-block;
    text-align: start;
    padding-top: 21px;
    margin-left: 22px;
  }
  .offer__manager {
    display: inline-block;
    width: 80%;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 7px;
  }
  .offer-phone {
    display: inline-block;
    width: 95%;
  }
  .offer__title {
    width: 85%;
    margin-right: 15px;
    margin-bottom: 19px;
    font-size: 18px;
    text-align: start;
    line-height: normal;
  }
  .offer__subtitle {
    font-size: 14px;
    width: 89%;
  }
  .offer__button {
    width: 86%;
    font-size: 14px;
    line-height: 18px;
    margin-left: 21px;
  }
  .offer__input {
    width: 86%;
    padding: 19px 21px;
    margin-left: 21px;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-width: 200px;
  background: #ffffff;
  padding: 40px;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}

.modal-dialog__close:hover {
  background: #ffd200;
}

.portfolio {
  background: #f5f5f5 url("../img/portfolio/portfolio-pattern.jpg") repeat-y center left;
  background-size: 50%;
}

.portfolio__title {
  margin: auto;
  margin-bottom: 99px;
  font-size: 30px;
  line-height: 45px;
}

.portfolio__arrows {
  max-width: 120px;
  margin: auto;
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__image {
  margin: auto;
  outline: none;
  border: none;
  max-width: 100%;
}

.slider__item {
  outline: none;
}

@media (max-width: 970px) {
  .slider__image {
    max-width: 355px;
  }
  .portfolio__title {
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 49px;
  }
}

@media (max-width: 830px) {
  .slider__image {
    max-width: 335px;
  }
}

@media (max-width: 815px) {
  .slider__image {
    max-width: 320px;
  }
}

@media (max-width: 780px) {
  .slider__image {
    max-width: 335px;
  }
}

@media (max-width: 760px) {
  .section {
    padding: 30px 0;
  }
  .portfolio__title {
    margin-bottom: 35px;
    line-height: 35px;
  }
  .portfolio__arrows {
    margin-top: 30px;
  }
  .slider__image {
    max-width: 380px;
  }
}

@media (max-width: 415px) {
  .slider__image {
    max-width: 340px;
  }
}

@media (max-width: 380px) {
  .slider__image {
    max-width: 320px;
  }
}

@media (max-width: 362px) {
  .slider__image {
    max-width: 310px;
  }
}

@media (max-width: 345px) {
  .slider__image {
    max-width: 295px;
  }
}

@media (max-width: 340px) {
  .portfolio {
    padding: 41px 0;
  }
  .portfolio__title {
    width: 270px;
    font-size: 18px;
    margin-bottom: 41px;
    line-height: 20px;
  }
  .portfolio__arrows {
    margin-top: 46px;
  }
  .slider__image {
    max-width: 246px;
  }
}

.price__title {
  max-width: 500px;
  margin: auto;
  font-size: 30px;
  line-height: 45px;
  margin-bottom: 58px;
  margin-top: 100px;
}

.price__subtitle {
  margin-bottom: 59px;
  font-size: 20px;
  text-align: center;
}

.price__card {
  margin-bottom: 30px;
}

.card {
  text-align: center;
  border: 1px solid #e8e8e8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}

.card:hover .card__image:before {
  opacity: 1;
}

.card__text {
  padding: 40px;
}

.card__title {
  margin-top: 0;
}

.card__image {
  position: relative;
}

.card__image::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card__link {
  display: inline-block;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  position: relative;
}

.card__link:hover:after {
  height: 12px;
}

.card__link:after {
  position: absolute;
  bottom: -4px;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  z-index: -1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (max-width: 830px) {
  .cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 760px) {
  .price__title {
    margin-top: 23px;
    margin-bottom: 30px;
  }
}

@media (max-width: 375px) {
  .card__width {
    width: 268px;
  }
}

@media (max-width: 340px) {
  .price__title {
    font-size: 20px;
    line-height: 35px;
  }
  .price__subtitle {
    font-size: 17px;
  }
}

@media (max-width: 325px) {
  .card__width {
    width: 246px;
  }
}

@media (max-width: 320px) {
  .card__title {
    margin: 30px 0 15px 0;
    font-size: 14px;
  }
  .card__link {
    font-size: 16px;
  }
  .card__width {
    max-width: 100%;
  }
  .price__title {
    font-size: 18px;
    width: 242px;
    line-height: 25px;
    padding-top: 52px;
    margin-bottom: 27px;
    margin-top: 0;
  }
  .price__subtitle {
    font-size: 14px;
    margin-bottom: 61px;
  }
}

.steps__title {
  margin: auto;
  width: 660px;
  font-size: 30px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  line-height: 45px;
  color: #000000;
  margin-bottom: 59px;
}

.steps__subtitle {
  font-size: 20px;
  text-align: center;
  color: #000000;
  margin-bottom: 58px;
}

.steps-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.step {
  position: relative;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  text-align: center;
  position: relative;
}

.step:after {
  content: '';
  width: 72px;
  height: 25px;
  position: absolute;
  background: url("../img/steps/arrow.png") no-repeat center;
  top: -10px;
  right: -15%;
}

.step:last-child:after {
  display: none;
}

.step__image {
  width: 100px;
  height: 100px;
  border: 3px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  border-radius: 50%;
  margin-bottom: 30px;
}

.step__text {
  font-size: 14px;
  line-height: 20px;
  max-width: 160px;
  margin: auto;
}

@media (max-width: 1200px) {
  .step {
    margin-bottom: 30px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .step:after {
    display: none;
  }
  .step__text {
    margin: auto;
  }
  .steps-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .step {
    margin-bottom: 30px;
  }
  .step:after {
    display: none;
  }
  .step__text {
    margin: auto;
  }
  .steps-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 700px) {
  .steps__title {
    width: 100%;
  }
}

@media (max-width: 340px) {
  .steps__title {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .steps__subtitle {
    font-size: 17px;
  }
}

@media (max-width: 320px) {
  .steps {
    padding-top: 0;
  }
  .steps__title {
    font-size: 18px;
    width: 100%;
    line-height: 20px;
    margin-top: 14px;
    margin-bottom: 27px;
  }
  .steps__subtitle {
    margin-bottom: 34px;
    font-size: 14px;
  }
  .step__image {
    margin-bottom: 22px;
  }
}

.brif {
  background-image: url("../img/brif/brif-color-bg.png"), url("../img/brif/brif-bg.jpg");
  background-position: left center, center right;
  background-size: 50%, contain;
  background-repeat: repeat-y, no-repeat;
}

.brif__input {
  width: 100%;
  max-width: 370px;
  margin-bottom: 15px;
}

.brif__input.error {
  border: 2px solid red;
}

.brif__button {
  height: 70px;
  width: 100%;
  max-width: 370px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.brif-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brif__interview {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.brif__form {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-left: 200px;
  text-align: center;
}

.interview {
  padding-right: 70px;
}

.interview__title {
  margin-bottom: 50px;
  font-size: 22px;
  line-height: 33px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.interview__subtitle {
  display: block;
  margin-bottom: 94px;
  font-size: 16px;
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

.interview-list {
  list-style: none;
  padding: 0;
}

.interview-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.interview-list__counter {
  display: inline-block;
  margin-right: 30px;
  text-align: center;
  line-height: 35px;
  width: 35px;
  height: 35px;
  border: 2px solid #000000;
  border-radius: 50%;
  font-size: 14px;
}

.interview-list__text {
  max-width: 400px;
}

.form__title {
  font-size: 22px;
  line-height: 33px;
  color: #333333;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.form__subtitle {
  display: block;
  margin-bottom: 94px;
  font-size: 16px;
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

@media (max-width: 1200px) {
  .brif__form {
    padding-left: 30px;
  }
  .interview {
    padding-right: 30px;
  }
  .interview__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .interview__subtitle {
    margin-bottom: 30px;
  }
  .interview-list__text {
    font-size: 14px;
    max-width: 300px;
  }
  .interview-list__counter {
    margin-right: 20px;
  }
  .form__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .form__subtitle {
    margin-bottom: 30px;
  }
  .form__description {
    display: block;
  }
}

@media (max-width: 768px) {
  .brif {
    background-image: url("../img/brif/brif-color-bg.png"), url("../img/brif/brif-bg.jpg");
    background-position: top center, center bottom;
    background-size: 100% 50%, cover;
    background-repeat: repeat-x, no-repeat;
  }
  .brif-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .brif__form {
    margin-top: 8px;
  }
}

@media (max-width: 320px) {
  .brif-block {
    margin-left: 21px;
    padding-bottom: 30px;
  }
  .brif__form {
    margin-top: 65px;
    padding: 0;
    padding-right: 22px;
  }
  .brif__input {
    width: 275px;
  }
  .brif__button {
    width: 275px;
    border-radius: 10px;
  }
  .brif__interview {
    padding: 0;
  }
  .interview__title {
    font-size: 18px;
    line-height: 21px;
    width: 80%;
  }
  .interview__subtitle {
    font-size: 14px;
    width: 60%;
  }
  .interview-list {
    margin-top: 37px;
  }
  .interview-list__counter {
    margin-right: 10px;
  }
  .interview-list__text {
    max-width: 235px;
  }
  .form__title {
    font-size: 18px;
    color: #333333;
    line-height: 25.35px;
  }
  .form__subtitle {
    font-size: 14px;
  }
  .form-description {
    display: inline-block;
    font-size: 14px;
    max-width: 135px;
  }
}

.footer {
  position: relative;
}

.map {
  position: absolute;
  width: 50%;
}

.contacts {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-top: 100px;
  padding-left: 215px;
}

.contacts__title {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-style: 22px;
  line-height: 1.4;
  margin-bottom: 100px;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contacts-list {
  padding: 0;
  list-style: none;
}

.contacts-list__icon {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin-right: 23px;
}

.contacts-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 39px;
}

.contacts-list__text {
  font-size: 16px;
}

.contacts-list__bold {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.contacts-list__phone {
  text-decoration: none;
  color: #000000;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 320px) {
  .map {
    position: static;
    width: 100%;
  }
  .contacts {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding-top: 67px;
    padding-left: 23px;
  }
  .contacts__title {
    width: 240px;
    font-size: 18px;
    margin-bottom: 39px;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
/*# sourceMappingURL=style.css.map */